.skill-tree {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  border: solid white 1px;
  flex: 0 0 calc(33.33% - 10px);
  margin-bottom: 10px;
  max-width: fit-content;
}

.skill-tree:last-child {
  margin-right: 0;
}

.tree-name {
  width: 100%;
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.tier-row {
  display: flex;
  max-width: fit-content;

  /* margin-bottom: 10px; */
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img-container {
  border: 1px solid white;
}
