<div
  class="background"
  style="
    background-image: url('assets/imgs-background/background_naruto_neji.jpg');
  "
>
  <div class="container-menu">
    <div class="title">
      <h1>NARUTO - NINJA CREATOR</h1>
      <h2>Created by Arkadiusz Jóźwiak</h2>
      <h3>2023</h3>
    </div>
    <a routerLink="/game-creator" class="btn btn-dark btn-menu">Play</a>
    <!-- <a routerLink="/game" class="btn btn-dark btn-lg mb-3">Start</a> -->
    <a routerLink="/champion-list" class="btn btn-dark btn-menu">Create</a>
    <a routerLink="/about" class="btn btn-dark btn-menu">About</a>
  </div>
</div>
